Source: libdisplaycore-driver-ssd1306-wire
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-driver-ssd1306-wire
Section: main
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Drivers
Depends: libdisplaycore-core, libdisplaycore-driver-ssd1306
Provides: SSD1306-UL-WIRE.h
Description: SSD1306 WIRE Interface
 This is a generic 128x64 SSD1306 WIRE driver.
 .
 This library requires the SSD1306 "base" library to work.
